app = "chdum"
primary_region = "sin"

[env]
  PORT = "8000"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true

  [http_service.concurrency]
    type = "requests"
    hard_limit = 200
    soft_limit = 100
